@page "/"

@using ToDoApp.Data
@using ToDoApp.Services

@inject TodoListService service

<PageTitle>Index</PageTitle>

<h1 class="m-5 text-center">ToDoApp</h1>

<div class="d-flex justify-content-center m-5">
    <EditForm Model="@newList" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText @bind-Value="newList.Name" placeholder="Add new List" />
        <button type="submit" class="btn btn-primary">Add</button>
    </EditForm>
</div>

@foreach(var todoList in service.GetAll())
{
    <TodoListElement ListName="@todoList.Name" />
}

@code {
    private TodoList newList = new();

    private void HandleValidSubmit()
    {
        service.Create(newList);
        newList = new();
    }
}
